@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.8125rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.625rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1.375rem;
}

a {
  font-size: 1.375rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.8125rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.625rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.57rem;
  }
  h4 {
    font-size: 1.48rem;
  }
  h5 {
    font-size: 1.35rem;
  }
  h6 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
}
body {
  font-weight: 400;
  font-family: "Inter", "sans-serif", "Montserrat";
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-family: "Poppins", "Roboto", "Montserrat";
  margin: 0;
}

h2 {
  font-weight: 700;
  font-family: "Poppins", "Roboto", "Montserrat";
  margin: 0;
}

h3 {
  font-weight: 700;
  font-family: "Poppins", "Roboto", "Montserrat";
  margin: 0;
}

p {
  font-weight: 600;
  font-family: "Inter", "sans-serif", "Montserrat";
  margin: 0 0 1em 0;
}

a {
  font-weight: 600;
  font-family: "Inter", "sans-serif", "Montserrat";
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  font-weight: 400;
  font-family: "Inter", "sans-serif", "Montserrat";
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.nav-secondary-hamburger {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
}

.nav-secondary-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 67%;
  padding-left: 10px;
}
.nav-secondary-logo img {
  border-radius: 100%;
  max-width: 40px;
}
.nav-secondary-logo p {
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-left: 7px;
}

.nav-secondary-settingTheme {
  flex-basis: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-secondary-container-hamburger {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-hamburger-icon {
  width: 40px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  z-index: 2;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.nav-hamburger-line {
  width: 65%;
  height: 3px;
  background-color: #333;
}

.nav-hamburger-icon.open {
  box-shadow: none;
}

.nav-hamburger-icon.open .nav-hamburger-line:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  background-color: white;
  width: 10%;
  height: 3px;
}

.nav-hamburger-icon.open .nav-hamburger-line:nth-child(2) {
  opacity: 0;
}

.nav-hamburger-icon.open .nav-hamburger-line:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  background-color: white;
  width: 10%;
  height: 3px;
}

.nav-secondary-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #333;
  display: none;
  flex-direction: column;
  z-index: 1;
}
.nav-secondary-menu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.nav-secondary-menu ul li {
  list-style-type: none;
  line-height: 70px;
}
.nav-secondary-menu ul li .nav-Link {
  font-size: 1.625rem;
  font-family: "Poppins", "Roboto", "Montserrat";
  font-weight: 600;
}

.nav-secondary-menu.open {
  display: flex;
}

.nav-secondary-settingLanguage {
  color: white;
  margin-top: 130px;
}

.nav-setting-changeLanguageMobile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-setting-changeLanguageMobile p {
  padding: 10px;
  margin: 0px;
  font-size: 1.625rem;
  font-family: "Poppins", "Roboto", "Montserrat";
  font-weight: 600;
  cursor: pointer;
}
.nav-setting-changeLanguageMobile p.active-language {
  text-decoration: underline;
}

.no-scroll {
  overflow: hidden;
}

.nav-primary {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.nav-primary .nav-primary-logo {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
}
.nav-primary .nav-primary-logo img {
  border-radius: 100%;
  max-width: 50px;
}
.nav-primary .nav-primary-logo p {
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-left: 7px;
}
@media (min-width: 600px) and (max-width: 1024px) {
  .nav-primary .nav-primary-logo p {
    padding-left: 2px;
  }
}
.nav-primary .nav-primary-link {
  flex-basis: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-primary .nav-primary-link ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.nav-primary .nav-primary-link ul li {
  list-style-type: none;
}
.nav-primary .nav-primary-link ul li .nav-Link {
  font-family: "Poppins", "Roboto", "Montserrat";
  font-weight: 600;
}
.nav-primary .nav-primary-setting {
  flex-basis: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 600px) and (max-width: 1024px) {
  .nav-primary .nav-primary-setting {
    flex-basis: 15%;
  }
}

.nav-setting-changeLanguage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
}
.nav-setting-changeLanguage div {
  width: 70px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-setting-changeLanguage div p {
  margin: 0px;
  padding: 7px;
}
.nav-setting-changeLanguage p {
  font-size: 1.125rem;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 600px) and (max-width: 1024px) {
  .nav-setting-changeLanguage div {
    width: 50px;
  }
}

.nav-setting-theme {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 599px) {
  .nav-primary {
    display: none;
  }
  .nav-secondary-hamburger {
    display: flex;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .nav-primary {
    display: none;
  }
  .nav-secondary-hamburger {
    display: flex;
  }
}
@media (min-width: 1025px) {
  .nav-primary {
    display: flex;
  }
  .nav-secondary-hamburger {
    display: none;
  }
}
.footer {
  position: relative;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer div {
  padding: 0px;
  padding-top: 20px;
  margin: 0px;
}
.footer div h5 {
  margin-bottom: 5px;
}
.footer div ul li {
  list-style-type: none;
}

.container-wrappet {
  width: 100%;
  height: 50px;
}

.container-wrappet {
  min-height: 40vh;
}

.base-container-normal {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .base-container-normal {
    padding: 50px 70px;
  }
}

.main-container-secondary--large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1000px;
}
.main-container-secondary--large h2:nth-child(3) {
  margin-top: 20px;
}
.main-container-secondary--large button {
  margin-top: 20px;
  width: auto;
  height: 60px;
  border-radius: 25px;
}
@media (max-width: 599px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 1025px) {
  .main-container-secondary--large {
    padding: 50px;
    border-radius: 60px;
  }
}

/*
.content-wrappet{
    margin-top: 60px;
    background-color: var(--background-color);
    color:var(--color)

}
.content-wrappet-flex{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color:var(--color)
}

.content-wrappet-doubleTop{
    margin-top:120px;
    background-color: var(--background-color);
    color:var(--color)
}

.container-title{
    height: 100px;
    margin-top: 60px;
    text-align: center;
    background-color: var(--background-color);
    color:var(--color)
}*/
.container-wrappet {
  width: 100%;
  height: 50px;
}

.container-wrappet {
  min-height: 40vh;
}

.base-container-normal {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .base-container-normal {
    padding: 50px 70px;
  }
}

.main-container-secondary--large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1000px;
}
.main-container-secondary--large h2:nth-child(3) {
  margin-top: 20px;
}
.main-container-secondary--large button {
  margin-top: 20px;
  width: auto;
  height: 60px;
  border-radius: 25px;
}
@media (max-width: 599px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 1025px) {
  .main-container-secondary--large {
    padding: 50px;
    border-radius: 60px;
  }
}

/*
.content-wrappet{
    margin-top: 60px;
    background-color: var(--background-color);
    color:var(--color)

}
.content-wrappet-flex{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color:var(--color)
}

.content-wrappet-doubleTop{
    margin-top:120px;
    background-color: var(--background-color);
    color:var(--color)
}

.container-title{
    height: 100px;
    margin-top: 60px;
    text-align: center;
    background-color: var(--background-color);
    color:var(--color)
}*/
.dark-mode.primary {
  background-color: #204E45;
  color: #E0E0E0;
}
.dark-mode.primary button {
  background-color: #2A6355;
  color: #FFFFFF;
}
.dark-mode.primary button:hover {
  background-color: #3C6E71;
}
.dark-mode.primary a {
  color: #E0E0E0;
}
.dark-mode.primary .line-card {
  border: 2.5px solid #E0E0E0;
}
.dark-mode.secondary {
  background-color: #477161;
  color: #F0F6F6;
}
.dark-mode.secondary .img-logo {
  border: 1px solid #00B894;
}
.dark-mode.secondary button {
  background-color: #2A6355;
  color: #FFFFFF;
}
.dark-mode.secondary button:hover {
  background-color: #7B8989;
}
.dark-mode.secondary a {
  color: #F0F6F6;
}

.light-mode.primary {
  background-color: #f0f5f5;
  color: #30665b;
}
.light-mode.primary button {
  background-color: #2a6355;
  color: #ffffff;
}
.light-mode.primary button:hover {
  background-color: #7f8f8f;
}
.light-mode.primary a {
  color: #1b3b32;
}
.light-mode.primary .line-card {
  border: 2.5px solid #30665b;
}
.light-mode.secondary {
  background-color: #ededed;
  color: #1b3b32;
}
.light-mode.secondary .img-logo {
  border: 1px solid #4fbb64;
}
.light-mode.secondary button {
  background-color: #667965;
  color: #ffffff;
}
.light-mode.secondary button:hover {
  background-color: #7f8f8f;
}
.light-mode.secondary a {
  color: #1b3b32;
}

.container-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 599px) {
  .container-hero {
    height: 93vh;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-hero {
    height: 95vh;
  }
}
@media (min-width: 1025px) {
  .container-hero {
    height: 100vh;
  }
}

.main-content-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-content-hero h2 {
  text-align: center;
}
.main-content-hero p {
  text-align: center;
  padding: 0px 20px;
}
@media (max-width: 599px) {
  .main-content-hero h2 {
    word-spacing: -2px;
    margin: 10px;
  }
  .main-content-hero p {
    padding: 0px 20px;
  }
}
@media (min-width: 1025px) {
  .main-content-hero {
    width: 800px;
    height: 600px;
  }
}

.container-wrappet {
  width: 100%;
  height: 50px;
}

.container-wrappet {
  min-height: 40vh;
}

.base-container-normal {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .base-container-normal {
    padding: 50px 70px;
  }
}

.main-container-secondary--large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1000px;
}
.main-container-secondary--large h2:nth-child(3) {
  margin-top: 20px;
}
.main-container-secondary--large button {
  margin-top: 20px;
  width: auto;
  height: 60px;
  border-radius: 25px;
}
@media (max-width: 599px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 1025px) {
  .main-container-secondary--large {
    padding: 50px;
    border-radius: 60px;
  }
}

/*
.content-wrappet{
    margin-top: 60px;
    background-color: var(--background-color);
    color:var(--color)

}
.content-wrappet-flex{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color:var(--color)
}

.content-wrappet-doubleTop{
    margin-top:120px;
    background-color: var(--background-color);
    color:var(--color)
}

.container-title{
    height: 100px;
    margin-top: 60px;
    text-align: center;
    background-color: var(--background-color);
    color:var(--color)
}*/
.container-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
}
.container-about h1 {
  text-align: center;
  margin: 40px 0px;
}
.container-about button {
  width: 150px;
  height: 60px;
  border-radius: 25px;
}
@media (max-width: 599px) {
  .container-about h1 {
    margin: 40px 0px;
  }
  .container-about button {
    margin-top: 20px;
    width: 130px;
    height: 60px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-about button {
    margin-top: 20px;
  }
}

@media (max-width: 599px) {
  .container-about-bio {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-about-bio img {
    border-radius: 20px 20px 0 0;
    max-width: 310px;
  }
  .container-about-bio .container-about-bio-text h2 {
    text-align: center;
    margin: 30px 0px 10px 0px;
  }
  .container-about-bio .container-about-bio-text p {
    text-align: center;
    padding: 0px 20px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-about-bio {
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-about-bio img {
    border-radius: 25px 25px 0 0;
    max-width: 500px;
  }
  .container-about-bio .container-about-bio-text h2 {
    text-align: center;
    margin: 40px 0px 10px 0px;
  }
  .container-about-bio .container-about-bio-text p {
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .container-about-bio {
    max-width: 1100px;
    padding: 40px;
  }
  .container-about-bio img {
    border-radius: 25px 25px 0 0;
    max-width: 400px;
    margin: 0px 30px 7px 0px;
    float: left;
  }
  .container-about-bio .container-about-bio-text h2 {
    text-align: left;
    margin: 20px 0px;
  }
  .container-about-bio .container-about-bio-text p {
    text-align: left;
  }
}

.container-about-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1000px;
  height: 600px;
}
.container-about-skills .container-about-box {
  margin-top: 30px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-about-skills .container-about-box .about-box-card {
  margin: 5px;
  flex-basis: 12%;
  border-radius: 38px;
}
.container-about-skills .container-about-box .about-box-card p {
  padding: 5px 14px;
  margin: 0px;
  white-space: nowrap;
}
@media (max-width: 599px) {
  .container-about-skills .container-about-box {
    width: auto;
    padding: 20px;
  }
  .container-about-skills .container-about-box .about-box-card p {
    padding: 5px 10px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-about-skills .container-about-box {
    margin-top: 20px;
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .container-about-skills .container-about-box {
    width: 600px;
  }
}

.container-wrappet {
  width: 100%;
  height: 50px;
}

.container-wrappet {
  min-height: 40vh;
}

.base-container-normal {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .base-container-normal {
    padding: 50px 70px;
  }
}

.main-container-secondary--large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1000px;
}
.main-container-secondary--large h2:nth-child(3) {
  margin-top: 20px;
}
.main-container-secondary--large button {
  margin-top: 20px;
  width: auto;
  height: 60px;
  border-radius: 25px;
}
@media (max-width: 599px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 1025px) {
  .main-container-secondary--large {
    padding: 50px;
    border-radius: 60px;
  }
}

/*
.content-wrappet{
    margin-top: 60px;
    background-color: var(--background-color);
    color:var(--color)

}
.content-wrappet-flex{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color:var(--color)
}

.content-wrappet-doubleTop{
    margin-top:120px;
    background-color: var(--background-color);
    color:var(--color)
}

.container-title{
    height: 100px;
    margin-top: 60px;
    text-align: center;
    background-color: var(--background-color);
    color:var(--color)
}*/
.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 599px) {
  .container-contact {
    height: 93vh;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-contact {
    height: 95vh;
  }
}
@media (min-width: 1025px) {
  .container-contact {
    height: 100vh;
  }
}

.container-wrappet {
  width: 100%;
  height: 50px;
}

.container-wrappet {
  min-height: 40vh;
}

.base-container-normal {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .base-container-normal {
    padding: 50px 70px;
  }
}

.main-container-secondary--large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1000px;
}
.main-container-secondary--large h2:nth-child(3) {
  margin-top: 20px;
}
.main-container-secondary--large button {
  margin-top: 20px;
  width: auto;
  height: 60px;
  border-radius: 25px;
}
@media (max-width: 599px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 1025px) {
  .main-container-secondary--large {
    padding: 50px;
    border-radius: 60px;
  }
}

/*
.content-wrappet{
    margin-top: 60px;
    background-color: var(--background-color);
    color:var(--color)

}
.content-wrappet-flex{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color:var(--color)
}

.content-wrappet-doubleTop{
    margin-top:120px;
    background-color: var(--background-color);
    color:var(--color)
}

.container-title{
    height: 100px;
    margin-top: 60px;
    text-align: center;
    background-color: var(--background-color);
    color:var(--color)
}*/
.container-blog-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 599px) {
  .container-blog-title {
    padding: 20px 0px 0px 0px;
  }
}
@media (min-width: 1025px) {
  .container-blog-title {
    padding: 40px 0px 0px 0px;
  }
}

.container-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .container-blog {
    padding: 0px 70px 100px 70px;
  }
}

.container-blog-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  line-height: 15px;
  border-radius: 60px;
}
.container-blog-post button {
  margin-top: 20px;
  width: auto;
  height: 60px;
  border-radius: 25px;
}
@media (max-width: 599px) {
  .container-blog-post {
    border-radius: 40px;
    width: auto;
    max-width: 800px;
    padding: 30px 20px 30px 30px;
    margin: 0px 40px 40px 40px;
  }
  .container-blog-post p:nth-child(3) {
    line-height: 23px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-blog-post {
    border-radius: 50px;
    width: auto;
    max-width: 800px;
    padding: 30px;
    margin: 0px 40px 40px 40px;
  }
  .container-blog-post p:nth-child(3) {
    line-height: 25px;
  }
}
@media (min-width: 1025px) {
  .container-blog-post {
    width: auto;
    padding: 35px;
    margin: 20px;
  }
  .container-blog-post p:nth-child(3) {
    line-height: 25px;
  }
}
.container-blog-post p:nth-child(2) {
  font-style: italic;
}

.container-wrappet {
  width: 100%;
  height: 50px;
}

.container-wrappet {
  min-height: 40vh;
}

.base-container-normal {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .base-container-normal {
    padding: 50px 70px;
  }
}

.main-container-secondary--large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1000px;
}
.main-container-secondary--large h2:nth-child(3) {
  margin-top: 20px;
}
.main-container-secondary--large button {
  margin-top: 20px;
  width: auto;
  height: 60px;
  border-radius: 25px;
}
@media (max-width: 599px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 1025px) {
  .main-container-secondary--large {
    padding: 50px;
    border-radius: 60px;
  }
}

/*
.content-wrappet{
    margin-top: 60px;
    background-color: var(--background-color);
    color:var(--color)

}
.content-wrappet-flex{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color:var(--color)
}

.content-wrappet-doubleTop{
    margin-top:120px;
    background-color: var(--background-color);
    color:var(--color)
}

.container-title{
    height: 100px;
    margin-top: 60px;
    text-align: center;
    background-color: var(--background-color);
    color:var(--color)
}*/
.container-portfolio-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-portfolio-title h2 {
  margin: 0px;
}
@media (max-width: 599px) {
  .container-portfolio-title {
    padding: 50px 0px 30px 0px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-portfolio-title {
    padding: 60px 0px 30px 0px;
  }
}
@media (min-width: 1025px) {
  .container-portfolio-title {
    padding: 60px 0px 0px 0px;
  }
}

.container-portfolio-curriculum {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}
.container-portfolio-curriculum h4 {
  padding: 5px 20px 20px 20px;
}
.container-portfolio-curriculum div {
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container-portfolio-curriculum div p:first-child {
  width: 70%;
  text-align: start;
  padding-left: 30px;
}
.container-portfolio-curriculum div p {
  width: 30%;
  text-align: center;
  margin: 0px;
}
.container-portfolio-curriculum div span {
  width: 95%;
  border-top: 1px solid black;
  margin-top: 5px;
}
@media (max-width: 599px) {
  .container-portfolio-curriculum {
    padding: 30px;
  }
  .container-portfolio-curriculum div {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-portfolio-curriculum {
    padding: 60px;
  }
  .container-portfolio-curriculum div {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .container-portfolio-curriculum {
    padding: 50px;
    border-radius: 60px;
  }
  .container-portfolio-curriculum div {
    width: 500px;
  }
}

.container-portfolio-projects {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container-portfolio-grid-projects {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 599px) {
  .container-portfolio-grid-projects {
    justify-content: center;
  }
  .container-portfolio-grid-projects div {
    flex-basis: 90%;
    width: 150px;
    height: 250px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-portfolio-grid-projects {
    justify-content: center;
  }
  .container-portfolio-grid-projects div {
    margin: 17px;
    flex-basis: 40%;
    width: 200px;
    height: 250px;
  }
}
@media (min-width: 1025px) {
  .container-portfolio-grid-projects div {
    margin: 17px;
    flex-basis: 28%;
    width: 200px;
    height: 250px;
  }
}

.container-wrappet {
  width: 100%;
  height: 50px;
}

.container-wrappet {
  min-height: 40vh;
}

.base-container-normal {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .base-container-normal {
    padding: 50px 70px;
  }
}

.main-container-secondary--large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1000px;
}
.main-container-secondary--large h2:nth-child(3) {
  margin-top: 20px;
}
.main-container-secondary--large button {
  margin-top: 20px;
  width: auto;
  height: 60px;
  border-radius: 25px;
}
@media (max-width: 599px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 1025px) {
  .main-container-secondary--large {
    padding: 50px;
    border-radius: 60px;
  }
}

/*
.content-wrappet{
    margin-top: 60px;
    background-color: var(--background-color);
    color:var(--color)

}
.content-wrappet-flex{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color:var(--color)
}

.content-wrappet-doubleTop{
    margin-top:120px;
    background-color: var(--background-color);
    color:var(--color)
}

.container-title{
    height: 100px;
    margin-top: 60px;
    text-align: center;
    background-color: var(--background-color);
    color:var(--color)
}*/
.base-container-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .base-container-article {
    padding: 50px 70px;
  }
}

.container-article-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container-article-title h2:nth-child(3) {
  margin-top: 20px;
}
.container-article-title button {
  margin-top: 20px;
  width: auto;
  height: 60px;
  border-radius: 25px;
}
@media (max-width: 599px) {
  .container-article-title {
    padding: 40px 0px 40px 0px;
  }
  .container-article-title h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-article-title {
    padding: 60px 0px 0px 0px;
  }
  .container-article-title h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 1025px) {
  .container-article-title {
    padding: 50px;
    border-radius: 60px;
  }
}

.container-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  width: 100%;
}
.container-article h2:nth-child(3) {
  margin-top: 20px;
}
.container-article button {
  margin-top: 20px;
  width: auto;
  height: 60px;
  border-radius: 25px;
}
.container-article a {
  text-align: center;
}
.container-article ul {
  padding: 10px 10px 40px 10px;
}
@media (max-width: 599px) {
  .container-article {
    text-align: center;
  }
  .container-article h2:nth-child(3) {
    margin-top: 40px;
  }
  .container-article h1, .container-article h2, .container-article h3, .container-article h4, .container-article h5, .container-article h6 {
    padding: 30px 0px 0px 0px;
    margin: 0px;
  }
  .container-article p {
    padding: 30px 30px 30px 30px;
  }
  .container-article img {
    padding: 0px 0px 0px 0px;
    margin: 0px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-article {
    padding: 50px;
  }
  .container-article h2:nth-child(3) {
    margin-top: 40px;
  }
  .container-article h1, .container-article h2, .container-article h3, .container-article h4, .container-article h5, .container-article h6 {
    padding: 30px 40px 20px 40px;
    margin: 0px;
  }
  .container-article p {
    padding: 10px 40px 10px 40px;
    margin: 0px;
  }
  .container-article img {
    padding: 20px 20px 20px 20px;
  }
}
@media (min-width: 1025px) {
  .container-article {
    padding: 50px;
    border-radius: 60px;
  }
  .container-article h1, .container-article h2, .container-article h3, .container-article h4, .container-article h5, .container-article h6 {
    padding: 30px 40px 20px 40px;
    margin: 0px;
  }
  .container-article p {
    padding: 10px 40px 10px 40px;
    margin: 0px;
  }
  .container-article img {
    padding: 20px 20px 20px 20px;
  }
}

.container-article-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  width: 100%;
}
.container-article-links h2:nth-child(3) {
  margin-top: 20px;
}
.container-article-links button {
  margin-top: 20px;
  width: auto;
  height: 60px;
  border-radius: 25px;
}
@media (max-width: 599px) {
  .container-article-links {
    text-align: center;
    width: 100%;
  }
  .container-article-links h2:nth-child(3) {
    margin-top: 40px;
  }
  .container-article-links h1, .container-article-links h2, .container-article-links h3, .container-article-links h4, .container-article-links h5, .container-article-links h6 {
    padding: 30px 0px 0px 0px;
    margin: 0px;
  }
  .container-article-links p {
    padding: 30px 30px 30px 30px;
  }
  .container-article-links img {
    padding: 0px 0px 0px 0px;
    margin: 0px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-article-links {
    padding: 50px;
    width: 100%;
  }
  .container-article-links h2:nth-child(3) {
    margin-top: 40px;
  }
  .container-article-links h1, .container-article-links h2, .container-article-links h3, .container-article-links h4, .container-article-links h5, .container-article-links h6 {
    padding: 30px 0px 0px 0px;
    margin: 0px;
  }
  .container-article-links p {
    padding: 10px 0px 10px 0px;
    margin: 0px;
  }
  .container-article-links img {
    padding: 20px 20px 20px 20px;
  }
}
@media (min-width: 1025px) {
  .container-article-links {
    padding: 50px;
    border-radius: 60px;
    max-width: 100%;
  }
  .container-article-links h1, .container-article-links h2, .container-article-links h3, .container-article-links h4, .container-article-links h5, .container-article-links h6 {
    padding: 30px 0px 0px 0px;
    margin: 0px;
  }
  .container-article-links p {
    padding: 10px 0px 10px 0px;
    margin: 0px;
  }
  .container-article-links img {
    padding: 20px 20px 20px 20px;
  }
  .container-article-links a {
    text-align: left;
  }
}

.container-wrappet {
  width: 100%;
  height: 50px;
}

.container-wrappet {
  min-height: 40vh;
}

.base-container-normal {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .base-container-normal {
    padding: 50px 70px;
  }
}

.main-container-secondary--large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1000px;
}
.main-container-secondary--large h2:nth-child(3) {
  margin-top: 20px;
}
.main-container-secondary--large button {
  margin-top: 20px;
  width: auto;
  height: 60px;
  border-radius: 25px;
}
@media (max-width: 599px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .main-container-secondary--large {
    padding: 50px;
  }
  .main-container-secondary--large h2:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 1025px) {
  .main-container-secondary--large {
    padding: 50px;
    border-radius: 60px;
  }
}

/*
.content-wrappet{
    margin-top: 60px;
    background-color: var(--background-color);
    color:var(--color)

}
.content-wrappet-flex{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color:var(--color)
}

.content-wrappet-doubleTop{
    margin-top:120px;
    background-color: var(--background-color);
    color:var(--color)
}

.container-title{
    height: 100px;
    margin-top: 60px;
    text-align: center;
    background-color: var(--background-color);
    color:var(--color)
}*/
.container-collaborazione-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-collaborazione-title h2 {
  margin: 0px;
}
@media (max-width: 599px) {
  .container-collaborazione-title {
    padding: 50px 0px 10px 0px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-collaborazione-title {
    padding: 100px 0px 10px 0px;
  }
}
@media (min-width: 1025px) {
  .container-collaborazione-title {
    padding: 100px 0px 0px 0px;
  }
}

.container-collaborazione {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 600px;
}
@media (min-width: 1025px) {
  .container-collaborazione {
    border-radius: 60px;
  }
}
.container-collaborazione .container-collaborazione-box {
  margin-top: 30px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container-collaborazione .container-collaborazione-box .collaborazione-card {
  margin: 5px;
  flex-basis: 12%;
  border-radius: 38px;
}
.container-collaborazione .container-collaborazione-box .collaborazione-card p {
  padding: 5px 14px;
  margin: 0px;
  white-space: nowrap;
}
@media (max-width: 599px) {
  .container-collaborazione .container-collaborazione-box {
    width: auto;
    padding: 20px;
  }
  .container-collaborazione .container-collaborazione-box .collaborazione-card p {
    padding: 5px 10px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .container-collaborazione .container-collaborazione-box {
    margin-top: 20px;
    width: 500px;
  }
}
@media (min-width: 1025px) {
  .container-collaborazione .container-collaborazione-box {
    width: 600px;
  }
}

.dark-mode.primary {
  background-color: #204E45;
  color: #E0E0E0;
}
.dark-mode.primary button {
  background-color: #2A6355;
  color: #FFFFFF;
}
.dark-mode.primary button:hover {
  background-color: #3C6E71;
}
.dark-mode.primary a {
  color: #E0E0E0;
}
.dark-mode.primary .line-card {
  border: 2.5px solid #E0E0E0;
}
.dark-mode.secondary {
  background-color: #477161;
  color: #F0F6F6;
}
.dark-mode.secondary .img-logo {
  border: 1px solid #00B894;
}
.dark-mode.secondary button {
  background-color: #2A6355;
  color: #FFFFFF;
}
.dark-mode.secondary button:hover {
  background-color: #7B8989;
}
.dark-mode.secondary a {
  color: #F0F6F6;
}

.light-mode.primary {
  background-color: #f0f5f5;
  color: #30665b;
}
.light-mode.primary button {
  background-color: #2a6355;
  color: #ffffff;
}
.light-mode.primary button:hover {
  background-color: #7f8f8f;
}
.light-mode.primary a {
  color: #1b3b32;
}
.light-mode.primary .line-card {
  border: 2.5px solid #30665b;
}
.light-mode.secondary {
  background-color: #ededed;
  color: #1b3b32;
}
.light-mode.secondary .img-logo {
  border: 1px solid #4fbb64;
}
.light-mode.secondary button {
  background-color: #667965;
  color: #ffffff;
}
.light-mode.secondary button:hover {
  background-color: #7f8f8f;
}
.light-mode.secondary a {
  color: #1b3b32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: white;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.8125rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.625rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1.375rem;
}

a {
  font-size: 1.375rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.8125rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.625rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.57rem;
  }
  h4 {
    font-size: 1.48rem;
  }
  h5 {
    font-size: 1.35rem;
  }
  h6 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
}
body {
  font-weight: 400;
  font-family: "Inter", "sans-serif", "Montserrat";
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-family: "Poppins", "Roboto", "Montserrat";
  margin: 0;
}

h2 {
  font-weight: 700;
  font-family: "Poppins", "Roboto", "Montserrat";
  margin: 0;
}

h3 {
  font-weight: 700;
  font-family: "Poppins", "Roboto", "Montserrat";
  margin: 0;
}

p {
  font-weight: 600;
  font-family: "Inter", "sans-serif", "Montserrat";
  margin: 0 0 1em 0;
}

a {
  font-weight: 600;
  font-family: "Inter", "sans-serif", "Montserrat";
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  font-weight: 400;
  font-family: "Inter", "sans-serif", "Montserrat";
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
}

a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
