//media query width
@mixin respond-to($breakpoint){
    @if $breakpoint == mobile {
        @media (max-width:599px) {@content;}
    } @else if $breakpoint == tablet {
        @media (min-width: 600px) and (max-width: 1024px) {@content;}
    } @else if $breakpoint == desktop {
        @media (min-width:1025px) {@content;}
    }
}

@mixin responsive-flex($flex-direction,$justify-content,$align-items){
    display:flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin space($property, $top, $right: null, $bottom: null, $left: null) {
    @if $right == null and $bottom == null and $left == null {
      #{$property}: $top $top $right $right;
    }
    @else {
      #{$property}: $top $right $bottom $left;
    }
  }
