@import "../abstracts/mixins";

//classi flex e container generici

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left; 
  text-align: left;
}

.main-base {
  @include respond-to(mobile) {
    min-height: 92vh;
  }
  @include respond-to(tablet) {
    min-height: 95vh;
  }
  @include respond-to(desktop) {
    min-height: 100vh;
  }
}


.container-base {
  width: 100%;
}

//transizione scesa div al montaggio
//classe apposita per transizione
.container-invisible{
  opacity: 0;
  transform: translateY(-50px);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.visible{
  opacity: 1;
  transform: translateY(0);
}

.paragraph-base {
  p {
    padding-bottom: 10px;
  }

  @include respond-to(mobile) {
    padding: 25px 17px;
    margin: 30px 0;
    h1, h2, h3, h4, h5, h6 {
      padding: 10px;
    }
    p {
      padding: 0 10px;
    }
  }

  @include respond-to(tablet) {
    padding: 30px 40px;
    margin: 40px 0;
    h1, h2, h3, h4, h5, h6 {
      padding: 10px 0;
    }
  }

  @include respond-to(desktop) {
    margin: 40px;
    padding: 15px 40px;
    border-radius: 60px;
    h1, h2, h3, h4, h5, h6 {
      padding: 20px 0px 10px 0px;
    }
  }
}

.container-skills {
  flex-wrap: wrap;

  .skills-card {
    margin: 5px;
    flex-basis: 12%;
    border-radius: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    p {
      padding: 5px 17px;
      margin: 0;
      white-space: nowrap;
    }
  }

  @include respond-to(mobile) {
    flex-basis: 20%;
    width: auto;
    padding: 5px 20px 20px 20px;
    .skills-card {
      p {
        padding: 5px 10px;
      }
    }
  }

  @include respond-to(tablet) {
    flex-basis: 15%;
    margin-top: 7px;
    width: 500px;
  }

  @include respond-to(desktop) {
    margin-top: 25px;
    width: 700px;
  }
}
