@import "../abstracts/mixins";

.footer{
    position:relative;
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}