@import "../abstracts/mixins";

$footer-height-mobile: 80px;
$footer-height-tablet: 110px;
$footer-height-desktop: 120px;

.container-footer {
  position: relative;
  width: 100%;
  @include responsive-flex(row, center, center);
  @include respond-to(mobile) {
    min-height: $footer-height-mobile;
  }
  @include respond-to(tablet) {
    min-height: $footer-height-tablet;
  }
  @include respond-to(desktop) {
    min-height: $footer-height-desktop;
  }
}

.section-footer {
  width: 100%;
  ul {
    list-style: none;
    @include responsive-flex(row, space-evenly, center);
    li {
      a{
        @include responsive-flex(row, center, center);
      }
    }
  }
}
