@import "../abstracts/mixins";

//menu mobile/tablet
.hamburger-menu{
position: relative;
display: flex;
align-items: center;
padding-left: 40px;
width: 100%;
height: 90px;
border:1px solid red;
}

.hamburger-icon{
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border:1px solid red;
  z-index: 2;
}
.hamburger-line{
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}

.hamburger-menu-open{
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px;
  width: 100%;
  height: 90px;
  border:1px solid red;
}

.menu{
  border:1px solid red;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  width: 100%;
  height: 100vh;
  background-color: #333;
  display: none;
  flex-direction: column;
  z-index: 1;

  ul{

    padding-top:80px;
    padding-left: 40px;
    line-height: 50px;
  }
}

.menu.open{
  display: flex;
}

//menu desktop
.header {
  background-color: black;
  color:white;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 60px;

  nav {
    flex-basis: 70%;
    ul {
      display: flex;
      justify-content: space-evenly;
      padding: 5px;
      margin: 0;
      list-style: none;
      li {
        margin: 0 10px;
      }
    }
  }
  .menu-setting{
    flex-basis: 25%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px;
    padding:5px;
  }
}

.no-scroll {
  overflow: hidden;
}


@media (max-width: 768px) {
  .header {
    display: none; 
  }

  .hamburger-menu {
    display: flex; 

}}

@media (min-width: 769px) {
  .header {
    display: flex; 
  }

  .hamburger-menu {
    display: none; 

}}