// PRIMARY COLOR
$dark-mode-background-primary-color: #193832;
$dark-mode-text-primary-color: #E0E0E0;
$dark-mode-accent-primary-color: #00B894; 
$dark-mode-button-primary-color: #2A6355; 
$dark-mode-button-hover-primary-color: #3C6E71; 

// SECONDARY COLOR
$dark-mode-background-secondary-color: #2A4B41;
$dark-mode-text-secondary-color: #F0F6F6;
$dark-mode-accent-secondary-color: #00B894; 
$dark-mode-button-secondary-color: #2A6355; 
$dark-mode-button-hover-secondary-color: #4A7D73; 
$dark-mode-red-secondary-color: #E57373;

//SKELETON GRADIENT
$dark-skeleton-color-1: #1e3d34;
$dark-skeleton-color-2: #2a4b41;


//GENERIC COLOR
$dark-mode-button-color:#FFFFFF;

//animazione background
@-webkit-keyframes color-change-dark {
  0% {
    background: #325a4d;
  }
  33.3333% {
    background: #193832;
  }
  66.666% {
    background: #1c4840; 
  }
  100% {
    background: #193832;
  }
}

@keyframes color-change-dark {
  0% {
    background: #325a4d; 
  }
  33.3333% {
    background: #193832; 
  }
  66.666% {
    background: #1c4840; 
  }
  100% {
    background: #193832; 
  }
}

//modalità suddivisa in due grandi sotto classi primary e secondary
.dark-mode {

  transition: all 0.4s ease;

  .gradient-skeleton{
    background-color: $dark-skeleton-color-1;
    background: linear-gradient(90deg, $dark-skeleton-color-1 25%, $dark-skeleton-color-2 50%, $dark-skeleton-color-1 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite ease-in-out;
  }

  .color-change-4x {
    -webkit-animation: color-change-dark 10s linear infinite alternate both;
    animation: color-change-dark 10s linear infinite alternate both;
  }

    &.primary {
      background-color: $dark-mode-background-primary-color;
      color: $dark-mode-text-primary-color;
    
  
      button {
        background-color: $dark-mode-button-primary-color;
        color: $dark-mode-button-color;
        transition: padding 0.5s ease;
  
        &:hover {
          background-color: $dark-mode-button-hover-primary-color;
          transition: padding 0.5s ease;
          
          @include respond-to(mobile) {
            padding: 18px 23px;
          }
        
          @include respond-to(tablet) {
            padding: 20px 27px;
          }
        
          @include respond-to(desktop) {
            padding: 23px 32px;
          }
        }
        &:focus {
          outline: 3px solid $dark-mode-button-hover-primary-color; 
          outline-offset: 2px;
        }

      }
      
      a{
        color: $dark-mode-text-primary-color
      }
      

      .line-card{
        border: 1.5px solid $dark-mode-text-secondary-color;
      }
      .line-hamburger{
        background-color: $dark-mode-text-secondary-color;
      }
      .line-portfolio{
        background-color: $dark-mode-text-primary-color;
      }
      .text-accent{
        color:$dark-mode-accent-secondary-color;
      }
      .img-logo{
        border:1px solid $dark-mode-accent-secondary-color;
      }
    }
  
    &.secondary {
      background-color: $dark-mode-background-secondary-color;
      color: $dark-mode-text-secondary-color;
  
      button {
        background-color: $dark-mode-button-primary-color;
        color: $dark-mode-button-color;
        transition: padding 0.5s ease;
  
        &:hover {
          background-color: $dark-mode-button-hover-primary-color;
          transition: padding 0.5s ease;

          @include respond-to(mobile) {
            padding: 18px 23px;
          }
        
          @include respond-to(tablet) {
            padding: 20px 27px;
          }
        
          @include respond-to(desktop) {
            padding: 23px 32px;
          }
        }
        &:focus {
          outline: 3px solid $dark-mode-button-hover-primary-color; 
          outline-offset: 2px;
        }
      }
      
      a{
        color: $dark-mode-text-secondary-color;
      }
      .navigation-menu{
        color:$dark-mode-accent-secondary-color;
      }

      .coming-soon-color{
        p:nth-child(2){
          color:$dark-mode-red-secondary-color;
        }
      }

      .img-logo{
        border:1px solid $dark-mode-accent-secondary-color;
      }
    }
  }
