// PRIMARY COLOR
$light-mode-background-primary-color: #f0f5f5; // Mantiene un background chiaro e pulito
$light-mode-text-primary-color: #2d6a4f; // Scurito per un migliore contrasto con il background chiaro
$light-mode-accent-primary-color: #4fbb64; // Colore di accento vivace e coerente
$light-mode-button-primary-color: #2a6355; // Colore dei bottoni, coerente con la dark mode per una buona transizione tra i temi
$light-mode-button-hover-primary-color: #5d8a76; // Leggermente scurito rispetto al colore dei bottoni primari per un buon effetto al passaggio del mouse

// SECONDARY COLOR
$light-mode-background-secondary-color: #e2e2e2; // Scurito leggermente rispetto al background primario per una differenziazione più chiara
$light-mode-text-secondary-color: #1b3b32; // Mantiene la leggibilità e il contrasto con il background secondario
$light-mode-accent-secondary-color: #4fbb64; // Colore di accento coerente con quello principale
$light-mode-button-secondary-color: #4b6e5e; // Scurito leggermente per allinearsi meglio con i colori modificati della dark mode
$light-mode-button-hover-secondary-color: #6c8b75; // Leggermente scurito per mantenere un buon contrasto al passaggio del mouse
$light-mode-red-secondary-color: #D94A4A;

//SKELETON GRADIENT
$light-skeleton-color-1: #e0e0e0;
$light-skeleton-color-2: #f0f0f0;

//GENERIC COLOR
$light-mode-button-color: #ffffff;

@-webkit-keyframes color-change-light {
  0% {
    background: #e0e5e5; /* Sfumatura chiara */
  }
  33.3333% {
    background: #f0f5f5; /* Sfumatura base */
  }
  66.666% {
    background: #e6ecec; /* Sfumatura scura */
  }
  100% {
    background: #f0f5f5; /* Ritorna alla sfumatura base */
  }
}

@keyframes color-change-light {
  0% {
    background: #e0e5e5; /* Sfumatura chiara */
  }
  33.3333% {
    background: #f0f5f5; /* Sfumatura base */
  }
  66.666% {
    background: #e6ecec; /* Sfumatura scura */
  }
  100% {
    background: #f0f5f5; /* Ritorna alla sfumatura base */
  }
}

.light-mode {
  transition: all 0.4s ease;

  .gradient-skeleton {
    background-color: $light-skeleton-color-1;
    background: linear-gradient(
      90deg,
      $light-skeleton-color-1 25%,
      $light-skeleton-color-2 50%,
      $light-skeleton-color-1 75%
    );
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite ease-in-out;
  }

  .color-change-4x {
    -webkit-animation: color-change-light 10s linear infinite alternate both;
    animation: color-change-light 10s linear infinite alternate both;
  }

  &.primary {
    background-color: $light-mode-background-primary-color;
    color: $light-mode-text-primary-color;

    button {
      background-color: $light-mode-button-primary-color;
      color: $light-mode-button-color;
      transition: padding 0.5s ease;

      &:hover {
        @include respond-to(mobile) {
          padding: 18px 23px;
        }

        @include respond-to(tablet) {
          padding: 20px 27px;
        }

        @include respond-to(desktop) {
          padding: 23px 32px;
        }

        background-color: $light-mode-button-hover-primary-color;
        transition: padding 0.5s ease;
      }
    }
    a {
      color: $light-mode-text-secondary-color;
    }
    .line-card {
      border: 1.5px solid $light-mode-text-secondary-color;
    }
    .line-hamburger {
      background-color: $light-mode-text-secondary-color;
    }
    .line-portfolio {
      background-color: $light-mode-text-secondary-color;
    }
    .text-accent {
      color: $light-mode-accent-primary-color;
    }

    .img-logo {
      border: 1px solid $light-mode-accent-primary-color;
    }
  }

  &.secondary {
    background-color: $light-mode-background-secondary-color;
    color: $light-mode-text-secondary-color;

    button {
      background-color: $light-mode-button-secondary-color;
      color: $light-mode-button-color;
      transition: padding 0.5s ease;

      &:hover {
        @include respond-to(mobile) {
          padding: 18px 23px;
        }

        @include respond-to(tablet) {
          padding: 20px 27px;
        }

        @include respond-to(desktop) {
          padding: 23px 32px;
        }

        background-color: $light-mode-button-hover-secondary-color;
        transition: padding 0.5s ease;
      }
    }

    a {
      color: $light-mode-text-secondary-color;
    }
    .navigation-menu{
      color:$light-mode-accent-secondary-color;
    }
    .coming-soon-color{
      p:nth-child(2){
        color:$light-mode-red-secondary-color
      }
    }

    .img-logo {
      border: 1px solid $light-mode-accent-secondary-color;
    }
  }
}
