// PRIMARY COLOR
$light-mode-background-primary-color: #f0f5f5;
$light-mode-text-primary-color: #2d6a4f; 
$light-mode-accent-primary-color: #4fbb64; 
$light-mode-button-primary-color: #2a6355; 
$light-mode-button-hover-primary-color: #5d8a76; 

// SECONDARY COLOR
$light-mode-background-secondary-color: #e2e2e2; 
$light-mode-text-secondary-color: #1b3b32; 
$light-mode-accent-secondary-color: #4fbb64; 
$light-mode-button-secondary-color: #4b6e5e; 
$light-mode-button-hover-secondary-color: #6c8b75; 
$light-mode-red-secondary-color: #D94A4A;

//SKELETON GRADIENT
$light-skeleton-color-1: #e0e0e0;
$light-skeleton-color-2: #f0f0f0;

//GENERIC COLOR
$light-mode-button-color: #ffffff;
$light-background-color:#e6f0f0;

//animazione per il background
@-webkit-keyframes color-change-light {
  0% {
    background: #e0e5e5;
  }
  25% {
    background: #f0f5f5; /* Leggermente più chiaro */
  }
  50% {
    background: #ece6ec;
  }
  75% {
    background: #e6f0f0; /* Sfumatura di viola chiaro */
  }
  100% {
    background: #f0f5f5; /* Leggermente più chiaro */
  }
}

@keyframes color-change-light {
  0% {
    background: #e0e5e5;
  }
  25% {
    background: #f0f5f5; /* Leggermente più chiaro */
  }
  50% {
    background: #ece6ec;
  }
  75% {
    background: #e6f0f0; /* Sfumatura di viola chiaro */
  }
  100% {
    background: #f0f5f5; /* Leggermente più chiaro */
  }
}


//modalità suddivisa in due grandi sotto classi primary e secondary
.light-mode {
  transition: all 0.4s ease;
  background-color:$light-mode-background-primary-color;

  .gradient-skeleton {
    background-color: $light-skeleton-color-1;
    background: linear-gradient(
      90deg,
      $light-skeleton-color-1 25%,
      $light-skeleton-color-2 50%,
      $light-skeleton-color-1 75%
    );
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite ease-in-out;
  }

  .color-change-4x {
    -webkit-animation: color-change-light 10s linear infinite alternate both;
    animation: color-change-light 10s linear infinite alternate both;
  }

  .gallery-background{
    background-color: $light-background-color;
  }

  &.primary {
    background-color: $light-mode-background-primary-color;
    color: $light-mode-text-primary-color;

    &.nav-trasparent-color {
      backdrop-filter: blur(10px);
      background-color: #f0f5f587;
    }


    button {
      background-color: $light-mode-button-primary-color;
      color: $light-mode-button-color;
      transition: padding 0.5s ease;

      &:hover {
        background-color: $light-mode-button-hover-primary-color;
        transition: padding 0.5s ease;
        
        @include respond-to(mobile) {
          padding: 18px 23px;
        }

        @include respond-to(tablet) {
          padding: 20px 27px;
        }

        @include respond-to(desktop) {
          padding: 20px 25px;
        }
      }
    }
    a {
      color: $light-mode-text-secondary-color;
    }
    .line-card {
      border: 1.5px solid $light-mode-text-secondary-color;
    }
    .line-hamburger {
      background-color: $light-mode-text-secondary-color;
    }
    .line-portfolio {
      background-color: $light-mode-text-secondary-color;
    }
    .text-accent {
      color: $light-mode-accent-primary-color;
    }

    .img-logo {
      border: 1px solid $light-mode-accent-primary-color;
    }
  }

  &.secondary {
    background-color: $light-mode-background-secondary-color;
    color: $light-mode-text-secondary-color;

    button {
      background-color: $light-mode-button-secondary-color;
      color: $light-mode-button-color;
      transition: padding 0.5s ease;

      &:hover {
        background-color: $light-mode-button-hover-secondary-color;
        transition: padding 0.5s ease;

        @include respond-to(mobile) {
          padding: 18px 23px;
        }

        @include respond-to(tablet) {
          padding: 20px 27px;
        }

        @include respond-to(desktop) {
          padding: 23px 32px;
        }

      }
    }

    a {
      color: $light-mode-text-secondary-color;
    }
    .navigation-menu{
      color:$light-mode-accent-secondary-color;
    }
    .coming-soon-color{
      p:nth-child(2){
        color:$light-mode-red-secondary-color
      }
    }

    .img-logo {
      border: 1px solid $light-mode-accent-secondary-color;
    }
  }
}
