@import "../abstracts/mixins";
@import "../layout/container";

.container-about {
  @include responsive-flex(column, center, center);
  padding: 60px 0px;
  h1 {
    text-align: center;
    margin: 40px 0px;
  }
  button {
    width: 150px;
    height: 60px;
    border-radius: 25px;
  }
  @include respond-to(mobile) {
    h1 {
      margin: 40px 0px;
    }
    button {
      margin-top: 20px;
      width: 130px;
      height: 60px;
    }
  }
  @include respond-to(tablet) {
    button {
      margin-top: 20px;
    }
  }
}

.container-about-bio {
  @include respond-to(mobile) {
    padding: 0px 10px;
    @include responsive-flex(column, center, center);
    img {
      border-radius: 20px 20px 0 0;
      max-width: 310px;
    }
    .container-about-bio-text {
      h2 {
        text-align: center;
        margin: 30px 0px 10px 0px;
      }
      p {
        text-align: center;
        padding: 0px 20px;
      }
    }
  }
  @include respond-to(tablet) {
    padding: 0px 40px;
    @include responsive-flex(column, center, center);
    img {
      border-radius: 25px 25px 0 0;
      max-width: 500px;
    }
    .container-about-bio-text {
      h2 {
        text-align: center;
        margin: 40px 0px 10px 0px;
      }
      p {
        text-align: center;
      }
    }
  }
  @include respond-to(desktop) {
    max-width: 1100px;
    padding: 40px;
    img {
      border-radius: 25px 25px 0 0;
      max-width: 400px;
      margin: 0px 30px 7px 0px;
      float: left;
    }
    .container-about-bio-text {
      h2 {
        text-align: left;
        margin: 20px 0px;
      }
      p {
        text-align: left;
      }
    }
  }
}

.container-about-skills {
  @include responsive-flex(column, center, center);
  text-align: center;
  width: 1000px;
  height: 600px;

  .container-about-box {
    margin-top: 30px;
    width: 600px;
    @include responsive-flex(row, center, center);
    flex-wrap: wrap;

    .about-box-card {
      margin: 5px;
      flex-basis: 12%;
      border-radius: 38px;
      p {
        padding: 5px 14px;
        margin: 0px;
        white-space: nowrap;
      }
    }

    @include respond-to(mobile) {
      width: auto;
      padding: 20px;
      .about-box-card {
        p {
          padding: 5px 10px;
        }
      }
    }
    @include respond-to(tablet) {
      margin-top: 20px;
      width: 500px;
    }
    @include respond-to(desktop) {
      width: 600px;
    }
  }
}
