@import "../abstracts/mixins";
@import "../layout/container";


.about-bio {
  @include respond-to(mobile) {
    @include responsive-flex(column, center, center);
    img {
      border-radius: 20px 20px 0 0;
      max-width: 310px;
    }
    .about-bio-text {
      h2 {
        text-align: center;
        margin: 30px 0px 10px 0px;
      }
      p {
        text-align: center;
        padding: 0px 20px;
      }
    }
  }
  @include respond-to(tablet) {
    @include responsive-flex(column, center, center);
    img {
      border-radius: 25px 25px 0 0;
      max-width: 500px;
    }
    .about-bio-text {
      h2 {
        text-align: center;
        margin: 40px 0px 10px 0px;
      }
      p {
        text-align: center;
      }
    }
  }
  @include respond-to(desktop) {
    max-width: 1000px;
    margin:10px 0px 10px 0px;
    img {
      border-radius: 25px 25px 0 0;
      max-width: 400px;
      margin: 0px 30px 7px 0px;
      float: left;
    }
    .about-bio-text {
      h2 {
        text-align: left;
        margin: 20px 0px;
      }
      p {
        text-align: left;
      }
    }
  }
}
