@import "../abstracts/mixins";
@import "../layout/container";

.article-base {
  img {
    width: 100%;
    padding: 30px 0px 30px 0px;
  }

  @include respond-to(mobile) {
    h4 {
      padding: 30px 40px 0px 40px;
    }
    p {
      padding: 10px 40px 30px 40px;
    }
  }
  @include respond-to(tablet) {
    h4 {
      padding: 30px 40px 0px 40px;
    }
    p {
      padding: 10px 40px 30px 40px;
    }
  }
  @include respond-to(desktop) {
    h4 {
      padding: 30px 0px 0px 0px;
    }
    p {
      padding: 10px 0px 30px 0px;
    }
  }
}

.article-links{
  
  @include respond-to(mobile) {
    @include responsive-flex(column, center, left);
    text-align: left;
    h4 {
      padding: 30px 40px 0px 40px;
    }
    ul {
      padding: 10px 40px 30px 40px;
    }
  }
  @include respond-to(tablet) {
    @include responsive-flex(column, center, left);
    text-align: left;
    h4 {
      padding: 30px 40px 0px 40px;
    }
    ul {
      padding: 10px 40px 30px 40px;
    }
  }
  @include respond-to(desktop) {
    @include responsive-flex(column, center, center);
    text-align: center;
    h4 {
      padding: 30px 0px 10px 0px;
    }
    ul {
      padding: 0px 0px 50px 0px;
    }
  }
}