@import '../abstracts/mixins';
@import '../layout/container';


.container-blog-post {
  @include responsive-flex(column, center, left);
    text-align: left;
    line-height: 15px;
    border-radius: 60px;

    @include respond-to(mobile) {
        border-radius: 40px;
        width: auto;
        max-width: 800px;
        padding: 30px 20px 30px 30px;
        margin:0px 40px 40px 40px;
        h3{
          padding-bottom: 15px;
        }
        p:nth-child(2) {
          padding:  0px 0px 10px 0px;
          margin: 0;
        }
        p:nth-child(3) {
          line-height: 20px;
          margin: 0;
          padding:0;
        }
    }
    @include respond-to(tablet) {
        border-radius: 50px;
        width: auto;
        max-width: 800px;
        padding: 30px;
        margin:0px 40px 40px 40px;
        h3{
          padding-bottom: 15px;
        }
        p:nth-child(2) {
          padding:  0px 0px 10px 0px;
          margin: 0px;
        }
        p:nth-child(3) {
          line-height: 20px;
          margin: 0px;
          padding:  0px 0px 10px 0px;
        }
    }
    @include respond-to(desktop) {
        width: auto;
      padding: 40px;
      margin:0px 20px 40px 20px;
      h3{
        padding-bottom: 17px;
      }
      p:nth-child(2) {
        padding:  0px 0px 10px 0px;
        margin: 0px;
      }
      p:nth-child(3) {
        line-height: 20px;
        margin: 0px;
        padding:  0px 0px 10px 0px;
      }
    }

    p:nth-child(2) {
        font-style: italic;
      }

      &:hover{
        transform: scale(1.03);
        text-decoration: none;
      }
  }