@import "../abstracts/mixins";
@import "../layout/container";
@import "../themes/darkMode";
@import "../themes/lightMode";


.container-hero {
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond-to(mobile) {
    height: 93vh;
  }
  @include respond-to(tablet) {
    height: 95vh;
  }
  @include respond-to(desktop) {
    height: 100vh;
  }
}

.main-content-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    padding: 0px 20px;
  }
  @include respond-to(mobile) {
    h2 {
      word-spacing: -2px;
      margin: 10px;
    }
    p {
      padding: 0px 20px;
    }
  }
  @include respond-to(desktop) {
    width: 800px;
    height: 600px;
  }
}
