@import "../abstracts/mixins";
@import "../layout/container";
@import "../themes/darkMode";
@import "../themes/lightMode";


.container-hero {
    p {
      padding-bottom: 10px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
  
    /* Mobile */
    @include respond-to(mobile) {
      h5{
        padding-top: 10px;
      }
      h4{
        padding-top: 15px;
      }
      @include space(padding, 25px, 17px, 25px, 17px);
      @include space(margin, 30px, 0px, 30px, 0px);
      width: 100%;
      min-height: 85vh;
    }
  
    /* Tablet */
    @include respond-to(tablet) {
        h5{
            padding-top: 10px;
          }
          h4{
            padding-top: 5px;
          }
      @include space(padding, 30px, 40px, 30px, 40px);
      @include space(margin, 40px, 0px, 40px, 0px);
      width: 100%;
      min-height: 85vh;
    }
  
    /* Desktop */
    @include respond-to(desktop) {
        h5{
            padding-top: 10px;
          }
          h4{
            padding-top: 5px;
          }
      border-radius: 60px;
      @include space(padding, 0px, 40px, 0px, 40px);
      @include space(margin, 40px, 40px, 40px, 40px);
      max-width: 1000px;
      min-height: 100vh;
    }
  }
  