@import "../abstracts/mixins";
@import "../layout/container";

.portfolio-curriculum {
  width: 1000px;
  h4 {
    padding: 5px 20px 20px 20px;
  }

  div {
    margin: 12px;
    @include responsive-flex(row, center, center);
    flex-wrap: wrap;
    p:first-child {
      width: 70%;
      text-align: start;
      padding-left: 30px;
    }
    p {
      width: 30%;
      text-align: center;
      margin: 0px;
    }
    span {
      width: 95%;
      border-top: 1px solid black;
      margin-top: 5px;
    }
  }

  @include respond-to(mobile) {
    padding: 30px;
    div {
      width: 100%;
    }
  }
  @include respond-to(tablet) {
    padding: 40px;
    div {
      width: 100%;
    }
  }
  @include respond-to(desktop) {
    padding: 35px;
    border-radius: 60px;
    div {
      width: 500px;
    }
  }
}
